/SBasicConverter/project/vs2019/*.mzt
/SBasicConverter/project/vs2019/x64
/SBasicConverter/project/vs2019/.vs
/SBasicExecuter/Project/vs2019/ExecBasic.vcxproj.user
/SBasicConverter/project/vs2019/SBasicConverter.vcxproj.user
/SBasicExecuter/Project/vs2019/.vs
/SBasicExecuter/Project/vs2019/x64
